html, body {
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #EAEAEA;
	color: #401D1D;	
	font-size: 12pt;
	font-family:'PF DinText W01 Medium';
}


#topbar{
	padding: 20px;
	background-color: #FFFFFF;
}

#title{
	font-size: 24pt;
	font-family:'DINCondensedW01-Normal';
}

#nextmeetup{
	text-align: center;
	font-size: 26pt;
	font-family:'DINCondensedW01-Normal';

	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 200px;

    margin: auto;
	position:absolute;
}

#location{
	font-size: 12pt;
	font-family:'PF DinText W01 Medium';
}


@media (max-width: 600px) {
	#menu{
		display: none;
	}
}
@media all and (min-width: 600px) {
	#menu{
		position: absolute;
		top: 25px;
		right: 30px;
		text-align: right;

		font-size: 13pt;
	}
}
.menuitem{
	padding-left:40px;
}

#myCanvas{
	margin: auto;
	padding: 0px;
	left: 0;
    right: 0;
    bottom:0;
    width: 100%;
}

#about{
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
}

#events{
	padding-top: 1px;
	padding-bottom: 200px;
	background-color: #FFFFFF;
	padding-left: 20px;
	padding-right: 20px;
}

#contact{
	padding-bottom:150px;
	padding-left: 20px;
	padding-right: 20px;
}

.container{
	max-width: 600px;
	margin: 0 auto;
	margin-top: 200px;
	position:relative;
}

h1{
	font-size: 24pt;
	font-family:'DINCondensedW01-Normal';
	font-weight: normal;
	text-decoration: underline;
	text-align: center;
	margin-top: 100px;
}

h2{
	font-family:'DINCondensedW01-Normal';
	font-weight: normal;
	font-size: 24pt;
}

a:link{
	color: #301D1D;
	padding-bottom: -5px;
}

a:visited{
	color: #301D1D;
}

a:hover{
	color: #ff0000;

}

.imglink{
	vertical-align:middle;
	margin-right: 20px;
}

.imglinkline{
	margin-bottom: 10px;
}